<%- include('layout', { title: 'Home' }) %>

<section class="bg-white py-12">
  <div class="container mx-auto px-4">
      <div class="text-center">
          <h1 class="text-9xl font-bold mb-6">Welcome to CARMOST</h1>
          <p class="text-xl mb-6">
              Your premier destination for buying and selling quality used cars. 
              At CARMOST, we pride ourselves on offering a wide selection of 
              reliable vehicles at unbeatable prices.
          </p>
      </div>
  </div>
</section>
<section class="bg-gray-100 py-12">
  <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"> 
        <div class="bg-white px-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-4">Wide Range of Vehicles</h2>
              <p>
                  From sedans to SUVs, we offer a diverse selection of vehicles to suit every need and budget.
              </p>
          </div>
          <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-4">Quality Assurance</h2>
              <p>
                  Every car in our inventory undergoes a rigorous inspection to ensure it meets our high standards of quality and safety.
              </p>
          </div>
          <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-4">Customer Support</h2>
              <p>
                  Our friendly and knowledgeable staff are here to assist you with all your car buying needs.
              </p>
          </div>
      </div>
  </div>
</section>
<section class="bg-white py-12">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-6">Why Choose Us?</h2>
    <div class="flex flex-col md:flex-row md:space-x-8 px-4">  
      <div class="flex-1 mb-6 md:mb-0">
            <h3 class="text-2xl font-semibold mb-4">Unmatched Selection</h3>
            <p>
                We offer a comprehensive selection of pre-owned vehicles from various makes and models. Whether you're looking for a family-friendly SUV or a compact car for city driving, we have something for everyone.
            </p>
        </div>
        <div class="flex-1 mb-6 md:mb-0">
            <h3 class="text-2xl font-semibold mb-4">Competitive Pricing</h3>
            <p>
                Our pricing strategy ensures that you get the best deal possible. We regularly compare our prices with the market to ensure that you are getting the most value for your money.
            </p>
        </div>
        <div class="flex-1 mb-6 md:mb-0">
            <h3 class="text-2xl font-semibold mb-4">Exceptional Customer Service</h3>
            <p>
                Our team is dedicated to providing you with the best car buying experience. From the moment you step onto our lot to the moment you drive away in your new car, we are here to help you every step of the way.
            </p>
        </div>
    </div>
  </div>
</section>
<section class="bg-gray-100 py-12">
  <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-6">Get Started Today!</h2>
      <p class="text-xl mb-6">
          Discover our extensive inventory and find the perfect car for you. 
          Visit us today and take a test drive or explore our online listings.
      </p>
      <a href="/catalog/cars" class="bg-blue-500 text-white px-6 py-3 rounded-lg text-lg hover:bg-blue-600">
          Browse Our Inventory
      </a>
  </div>
</section>