<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Cars</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <div class="bg-blue-500 text-white flex p-4 justify-center">
        <a href="/">
            <header class="flex gap-4">
                <img src="https://placehold.co/30" alt="Car Logo">
                <h1 class="text-2xl font-semibold">CARMOST</h1>
            </header>
        </a>
        <div class="mx-auto"></div>
        <nav>
            <ul class="flex gap-4">
                <li><a href="/catalog/cars" class="hover:underline">Cars for Sale</a></li>
                <li><a href="#" class="hover:underline">About Us</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
